.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bs-dark-text);
    color: var(--bs-body-bg);
}

.headerText {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
}

.headerArrow {
    height: 10rem;
}

.logo {
    height: 30px;
}

.fondoTarjeta {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.messageBox {
    height: 200px;
    width: 300px;
    font-size: 14pt;
}

td,
th {
    border: 1px solid #282727;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

* {}

fieldset>* {
    margin: 0.08rem;
}